@page "/allmovies"
@inject TmdbService TmdbService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using MovieTracker.Controllers


<h3>Discover Movies</h3>
<div class="filters"> 
     <label>Genre:</label>
    <select @bind="_selectedGenre">
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Film</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
    </select>  
    <label>Sort By:</label>
    <select @bind="_selectedSort"> 
        <option value="popularity.desc">Most Popular</option>
        <option value="release_date.desc">Most Recent</option>
        <option value="vote_average.desc">Highest Rated</option>
    </select>


    <button @onclick="ApplyFilters">Apply Filters</button>
</div>


@if (movies == null)
{
    <p>Loading movies...</p>
}
else
{
    <ul>
        @foreach (var movie in movies)
        {
            <div class="movie-card">
                <h3>@movie.Title</h3>
                <p>@movie.Overview</p>

                <button @onclick="() => AddToWatchlist(movie)">
                    Add to Watchlist
                </button>
            </div>
        }
    </ul>

    <div class="pagination">
        <button @onclick="PreviousPage" disabled="@(_currentPage == 1)">Previous</button>
        <span>Page @_currentPage of @_totalPages</span>
        <button @onclick="NextPage" disabled="@(_currentPage == _totalPages)">Next</button>
    </div>
  


    @code {
    private List<Movie> movies;

    private string _selectedGenre = "";
    private string _selectedSort = "popularity.desc";


    private int _currentPage = 1;
    private int _totalPages = 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadMovies(_currentPage);
    }

    private async Task LoadMovies(int page = 1)
    {
        var response = await TmdbService.GetMovies(genreIds: _selectedGenre, sortBy: _selectedSort, page: page);
        movies = response.Results;
        _currentPage = response.Page;
        _totalPages = response.Total_Pages;
    }

    private async Task ApplyFilters()
    {
        _currentPage = 1; 
        await LoadMovies(_currentPage);
    }

    private async Task NextPage()
    {
        if (_currentPage < _totalPages)
        {
            await LoadMovies(_currentPage + 1);
        }
    }

    private async Task PreviousPage()
    {
        if (_currentPage > 1)
        {
            await LoadMovies(_currentPage - 1);
        }
    }

    void AddToWatchlist(Movie movie)
    {
        if (!WatchlistController.movies.Any(m => m.Title == movie.Title))
        {
            WatchlistController.movies.Add(movie);
        }
    }


    //i suck: add scroll to top when page changes
}
}